
.card-gold-foil::before {
  opacity: calc(0.05 * var(--gold-intensity));
}

.card-gold-foil::after {
  opacity: calc(0.05 * var(--gold-intensity));
}

.card-chrome::before {
  opacity: calc(0.05 * var(--chrome-intensity));
}
