
.card-edges {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  pointer-events: none;
}

.card-edge {
  position: absolute;
  background-color: var(--edge-color);
  box-shadow: 0 0 10px 0 var(--edge-color-alpha);
}

.edge-top {
  top: 0;
  left: 0;
  right: 0;
}

.edge-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.edge-left {
  left: 0;
}

.edge-right {
  right: 0;
}
